EXPO_PUBLIC_API_URL=http://172.20.10.3:8000/api/v1
EXPO_PUBLIC_SUPABASE_URL=https://nqmxcxwxeaevndgjyjot.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xbXhjeHd4ZWFldm5kZ2p5am90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3OTY0MDMsImV4cCI6MjA4MTM3MjQwM30.rhPxe_7R3XRvc_ER0V5n9WqvFLjaH8zlBCsnKhVUvLo